/* *********************** 
/*Styles for Screened Devices
* Created by David Reynolds
* 
*1. Includes 
*1.1 Normalize
*1.2 Google Fonts
*
*/

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('/weather/CSS/normalize.css');

/* *2. General Styles (for all pages and devices) */

/* Screen sizes */
h1,h2,h3,h4,h5,h6{
    font-family: Sansita, sans-serif;
    font-size: 2em;
}

.body{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

/* *3. Mobile First (Styles specific to small screens) */

@media screen and (max-width: 749px){

    .blank{
        display: none;
    }

    .none{
        display: none;
    }

    .nav
    {
        list-style-type: none;
        display: flex;
        width: 80%;
        border: 1px solid;
        justify-content: space-between;
        border-radius: 3px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .page-nav{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        border: 3px solid;
        background-color: grey;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .title{
        display: flex;
        flex-flow: wrap;
        align-items: flex-end;
    }

    #temp{
        font-size: 4em;
    }

    #hi-temp{
        color: red;
    }

    #low-temp{
        color: blue;
    }
    #sunny-image{
        background-image: url('/image/sunny-image.jpg');
        background-repeat: none;
        background-size: cover;
        background-attachment: fixed;
    }
    #raindrops-image{
        background-image: url('/image/raindrops.jpg');
        background-repeat: none;
        background-size: cover;
        background-attachment: fixed;
    }

    #windspeed
    {
        font-size: 3em;
    }

    #templist ul{
        display: flex;
        flex-flow: nowrap;
        overflow-x: scroll;
        align-items: center;
        list-style: none;
    }

    #templist li{
        flex: 0 0 auto;
        padding: 0 .25em;
        border-right: 1px solid black;
        flex-flow: column;
    }

    section{
        background-color: rgba(200,200,200,.6);
        margin: .2em auto;
        border: 1px solid;
        border-radius: 15px;
        width: 50%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/* *4. Large Screen Styles (Media Queries begin here) */

@media screen and (min-width: 750px){
    /* all large screen css rules go here */
    body{
        font-family: Helvetica, sans-serif;
        font-size: 18px;
    }
    .nav{
        position: relative;
        bottom: 0;
        left: 0;
        width: inherit;
        display: flex;
        justify-content: space-between;
        font-size: 1em;
    }

    .title{
        display: flex;
        flex-flow: wrap;
        align-items: center;
    }

    #templist{
        display: relative;
    }
    #templist ul{
        padding: 0%;
    }

    #sunny-image{
        background-image: url('/image/sunny-image.jpg');
        background-repeat: none;
        background-size: cover;
        background-attachment: fixed;
    }
    #raindrops-image{
        background-image: url('/image/raindrops.jpg');
        background-repeat: none;
        background-size: cover;
        background-attachment: fixed;

}













}