/* **************************
/*Stylesheet for Sceened Devices
*Created by Ben

*1. Includes
*1.1 Normalize
*1.2 Google Fonts

*/

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('/weather/CSS/normalize.css');

/* *2. General Styles (for all pages and devices) */

h1, h2, h3, h4, h5, h6{
    font-family: Sansita, sans serif;
    font-size: 2em;
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}


/* *3. Mobile First (styles specific to small screens) */

.blank{
    display: none;
}

#temp{
    font-size: 4em;
}

#sunny{
    font-size: 3em;
}

#windspeed{
    font-size: 3em;
}

#templist{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    list-style-type: none;
    
}

#templist>li{
    margin: 5px;
}


section{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    text-align: center;

}

/* *4. Large Screen Styles (Media Queries begin here) */

@media screen and (min-width: 750px) {
    /*all large screen css rules go here*/
}

    body{
    background-color: red;
}

/* ********************************* */
